body {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(47, 25, 25);
  color: white;
  text-align: center;
  z-index: 1;
  padding: 10px;
}

header h1 {
  border: 2px solid white;
  padding: 6px 12px;
  display: inline-block; /* block element -> border over the whole box, inline -> can't use margin and padding properly, inline-block -> perfect */
  border-radius: 36px;
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome-message {
  position: absolute;
  top: 30%;
  right: 0;
  background-color: rgb(47, 25, 25, .7);
  color: white;
  padding: 20px;
}

nav {
  max-width: 100%;
  background-color: rgb(155, 113, 37);
  color: white;
  padding: 10px;
  position: sticky;
  top: 115px;
}

nav ul {
  max-width: 100%;
  white-space: nowrap; /* It's not going to wrap to the next line */
  width: 1200px;
  margin: 0 auto;
}

nav li {
  display: inline-block;
  width: 25%;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
text-decoration: underline;
}

main {
  max-width: 100%;
  width: 800px;
  margin: 20px auto;
  padding: 0 40px;
  box-sizing: border-box;
}

#valueProposition {
  color: gray;
  border: 2px solid rgb(155, 113, 37);
  text-align: center;
}

.container-sale {
  position: relative;
}

#arrow {
font-size: 40px;
font-weight: bold;
color: antiquewhite;
position: absolute;
bottom: 5px;
right: 20px;
padding-left: 20px;
padding-right: 70px;
}

section {
  background-color: aqua;
}

aside {
  background-color: aquamarine;
}

@media (max-width: 1000px) {

  .banner .welcome-message {
    padding: 5px;
    font-size: 10px;
    top: 40%;
  }

  header {
    padding: 5px;
  }

  header h1 {
    border: 2px solid white;
    padding: 6px 9px;
    font-size: 20px;
  }

}

@media (max-width: 600px) {

  .banner .welcome-message {
    padding: 3px;
    font-size: 7px;
    top: 40%;
  }

  header {
    padding: 3px;
  }

  header h1 {
    border: 2px solid white;
    padding: 6px 9px;
    font-size: 15px;
  }

  nav {
    font-size: 12px;
  }

}
