header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(47, 25, 25);
  color: white;
  text-align: center;
  z-index: 1;
  padding: 10px;
}

header h1 {
  border: 2px solid white;
  padding: 6px 12px;
  display: inline-block; /* block element -> border over the whole box, inline -> can't use margin and padding properly, inline-block -> perfect */
  border-radius: 36px;
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome-message {
  position: absolute;
  top: 30%;
  right: 0;
  background-color: rgb(47, 25, 25, .7);
  color: white;
  padding: 30px;
}

.banner h2 {
  font-size: 25px;
}

#valueProposition {
  color: blueviolet;
  width: 500px;
  border: 2px solid antiquewhite;
  text-align: center;
}

.container {
  position: relative;
}

#arrow {
font-size: 40px;
font-weight: bold;
color: antiquewhite;
position: absolute;
bottom: 5px;
right: 20px;
padding-left: 20px;
padding-right: 70px;
}

nav {
  width: 200px;
  background-color: aquamarine;
}

