html {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: antiquewhite;
}

body {
  width: 700px;
  margin: 0 auto; /* auto divides the available horizontal space evenly between left and right */
  background-color: rgb(233, 193, 233);
  padding: 0 20px 20px 20px;
  border: 5px solid blueviolet;
}

#valueProposition {
  color: blueviolet;
  width: 500px;
  border: 2px solid antiquewhite;
  text-align: center;
}

.container {
  position: relative;
}

#arrow {
font-size: 40px;
font-weight: bold;
color: antiquewhite;
position: absolute;
bottom: 5px;
right: 20px;
padding-left: 20px;
padding-right: 70px;
}


